* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
  font-family: "Geneva", Verdana, sans-serif;
}

.container {
  width: 340px;
  background-color: rgb(29, 27, 27);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.currentDate {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  width: 100%;
  background-color: rgb(29, 27, 27);
}

.currentDate p {
  font: 500 1.1rem sans-sarif;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 20px;
}

.currentDate button {
  background-color: rgb(53, 53, 53);
  position: relative;
  bottom: 5px;
  font: 600 25px sans-sarif;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  border: none;
}

.currentDate button:hover{
  background-color: rgb(77, 77, 77);
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  position: relative;
  top: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

